UyJ7wxnEYDFDZBeI.json
{
  "active": true,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "arrange-access",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "routine-inspection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "unkown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accounts": {
      "main": [
        [
          {
            "node": "download-attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download-attachment": {
      "main": [
        [
          {
            "node": "has-attachements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has-attachements": {
      "main": [
        [
          {
            "node": "forward-directly-with-attach1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "download-through-url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download-through-url": {
      "main": [
        [
          {
            "node": "has-binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has-binary": {
      "main": [
        [
          {
            "node": "forward-directly-with-attach2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "forward-directly-with-attach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-08T04:23:21.042Z",
  "id": "UyJ7wxnEYDFDZBeI",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "forward_work_email_and_post_on_slack",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": false
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        -380
      ],
      "id": "ffffa844-3ed7-4ca2-a3ad-9b645d3cc5c9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "I6AxSf6kS8kxT2iw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5a567511-40d7-4588-8934-4873e8fa7efb",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "ada1234.li@gmail.com",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -380,
        0
      ],
      "id": "e9aeebd6-d402-4d39-b22b-566e796a5156",
      "name": "Filter"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Your task is to summarize email content forwarded from a email account. You will receive requests about reminder of payment, inspection request or request of service.Analyze the content and prepare a summary report. It should contain an overall sentiment regarding the event, category of the request and summary of the content.\nReply in Markdown formatting\nsummary is not more than 50 words\ncategory to service requet, payment reminder or routine inspection only, if can not categorize then set category as unknown\nservice request generally include keyword like smoke alarm service etc.\nkeep everything lower case",
              "role": "system"
            },
            {
              "content": "=sentiment, categoy and summary of the content:\n{{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -220,
        0
      ],
      "id": "c132d4f9-f55d-48aa-bd05-10bdc4a0c59e",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ASOiAIC6Muob4zyk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.content.category }}",
                    "rightValue": "service request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "arrange-access"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a230eb6-e5ca-4648-b86a-507f9ea2638c",
                    "leftValue": "={{ $json.message.content.category }}",
                    "rightValue": "payment reminder",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "=accounts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bb36d51-d0a7-4f12-9429-b169214b06f8",
                    "leftValue": "={{ $json.message.content.category }}",
                    "rightValue": "routine inspection",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "routine-inspection"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c538c11-4803-491c-a0d2-f988edd7ea74",
                    "leftValue": "={{ $json.message.content.category }}",
                    "rightValue": "=OR(\"routine inspection\" | \"payment reminder\" | \"routine inspection\")",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "others"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        100,
        -20
      ],
      "id": "09fa94b8-4474-42a4-985a-caf1eabdcf70",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C06CBCV2JGG",
          "mode": "list",
          "cachedResultName": "arrange-access"
        },
        "text": "=NEW {{ $json.message.content.category.toTitleCase() }}\n<@U069X5AA5FA>\nNew email forwarded to support@roomly.com.au, \nsentiment: {{ $json.message.content.sentiment }}\ntitle: {{ $('Gmail Trigger').item.json.subject }}\nsummary: {{ $json.message.content.summary }}\n\nplease try to book appointment and arrange with <@U07KA2L0F0D> for completion of task",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        380,
        -200
      ],
      "id": "f15ae98f-c20c-4f9d-9a27-58201ce114da",
      "name": "arrange-access",
      "webhookId": "169b8234-f6b3-4fdb-95df-56f09e06a3a1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "vQp7BR45bihPVTtF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C069115JXQT",
          "mode": "list",
          "cachedResultName": "accounts"
        },
        "text": "=NEW {{ $json.message.content.category }}\n<@U069X5AA5FA><@U06197AJUJE>\nNew email forwarded to support@roomly.com.au, \nsentiment: {{ $json.message.content.sentiment }}\ntitle: {{ $('Execute Workflow Trigger').item.json.subject }}\nsummary: {{ $json.message.content.summary }}\n\nKindly make payment for completion of task, invoice/receipt has uploaded to hubdoc",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        380,
        -40
      ],
      "id": "72921dd4-4bf0-44ac-abae-73035f563abf",
      "name": "accounts",
      "webhookId": "169b8234-f6b3-4fdb-95df-56f09e06a3a1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "vQp7BR45bihPVTtF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07SCG85F6Z",
          "mode": "list",
          "cachedResultName": "routine-inspection"
        },
        "text": "=NEW {{ $json.message.content.category }} From Agent\n<@U069X5AA5FA><@U06197A55H8><@U07KA2L0F0D><@U06197AJUJE>\nNew email forwarded to support@roomly.com.au, \nsentiment: {{ $json.message.content.sentiment }}\ntitle: {{ $('Gmail Trigger').item.json.subject }}\nsummary: {{ $json.message.content.summary }}\nKindly follow the following guide to compelete the task:\n1. decide the date and time \n2. reply the email and update the comfirmation <@U06197A55H8>\n3. create event through internal event form <@U069X5AA5FA>\n4. arrange for removal and reinstallation of the wall if needed <@U07KA2L0F0D>\n5. Be present for the inspection <@U07KA2L0F0D> , some cleaning and tidy up might be necessary\n6. Update here for the routine inspection feedback if any <@U07KA2L0F0D>",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        380,
        80
      ],
      "id": "292cc0f0-6de1-48f1-bc39-d6d1e2975ee6",
      "name": "routine-inspection",
      "webhookId": "169b8234-f6b3-4fdb-95df-56f09e06a3a1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "vQp7BR45bihPVTtF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06197A55H8",
          "mode": "list",
          "cachedResultName": "ada1234.li"
        },
        "text": "=Categorization Failed from forwarded email\nsummary: ",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        380,
        220
      ],
      "id": "aa948683-bf75-4635-828f-7dc06ead5492",
      "name": "unkown",
      "webhookId": "a5268909-f8fb-4512-90b6-b65e6faff6d2",
      "credentials": {
        "slackOAuth2Api": {
          "id": "vQp7BR45bihPVTtF",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        -40
      ],
      "id": "9a438deb-7360-4605-a779-43899bd0bf24",
      "name": "download-attachment",
      "webhookId": "5c8afecd-8ffa-404d-bf7e-3e9f3cab4c81",
      "credentials": {
        "gmailOAuth2": {
          "id": "I6AxSf6kS8kxT2iw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa3478a3-e8f5-4c44-b3c8-17e111744efc",
              "leftValue": "={{ $('download-attachment').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        740,
        -40
      ],
      "id": "61815fe0-f7ac-43c6-9677-794e1a3ffb8c",
      "name": "has-attachements"
    },
    {
      "parameters": {
        "sendTo": "roomly.74b7@app.hubdoc.com",
        "subject": "={{ $('download-attachment').item.json.subject }}",
        "message": "={{ $('download-attachment').item.json.textAsHtml }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        140
      ],
      "id": "3fd22342-7340-47b2-920a-ae461a5fb280",
      "name": "forward-directly-with-attach",
      "webhookId": "9728164b-1962-4e59-bd55-b431c7c30e27",
      "credentials": {
        "gmailOAuth2": {
          "id": "I6AxSf6kS8kxT2iw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Your task is to attract the links related to download bills. the link should has a name like \"View my bill\", \"view my rate\", \"download the bill\" etc. avoid link texts like \"pay now\", \"pay my rate online\",\"view my account\"\nReply in Markdown formatting in the following struction\n{ \n\"text\": \"link text\",\n\"url\": \"link iteself\"\n}",
              "role": "system"
            },
            {
              "content": "=Sentiment, Category and Summary of the content:\n{{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        900,
        60
      ],
      "id": "c669c23b-f868-43e9-91a8-c623e6b141b7",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ASOiAIC6Muob4zyk",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        -340
      ],
      "id": "e373963b-6342-476f-9176-9a9f8025c9bd",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 2,
        "filters": {
          "sender": "ada1234.li@gmail.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        -340
      ],
      "id": "265ff0b8-ee9c-4adc-9a97-dfe6106e254b",
      "name": "Gmail",
      "webhookId": "d6468f43-1e3e-4f0e-b293-0ec356bd25ec",
      "credentials": {
        "gmailOAuth2": {
          "id": "I6AxSf6kS8kxT2iw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UyJ7wxnEYDFDZBeI",
          "mode": "list",
          "cachedResultName": "forward_work_email_and_post_on_slack"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        960,
        -260
      ],
      "id": "2fa31519-1279-4be0-b4ac-96b6b28ab844",
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ],
      "id": "0394b057-3f0d-48c9-bf3c-af5150d2af3a",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        -260
      ],
      "id": "60f3e290-1b9b-4bc7-884c-2e192262b272",
      "name": "Gmail1",
      "webhookId": "e08ddd8a-9a49-4ae9-81eb-b5fae7a7614c",
      "credentials": {
        "gmailOAuth2": {
          "id": "I6AxSf6kS8kxT2iw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        600,
        -340
      ],
      "id": "0c85b636-a880-47fe-b527-92e41173c572",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UyJ7wxnEYDFDZBeI",
          "mode": "list",
          "cachedResultName": "forward_work_email_and_post_on_slack"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -300,
        -380
      ],
      "id": "dc23fa61-a273-4d88-af7e-2dd4b9f452da",
      "name": "Execute Workflow1"
    },
    {
      "parameters": {
        "sendTo": "roomly.74b7@app.hubdoc.com",
        "subject": "={{ $('download-attachment').item.json.subject }}",
        "message": "={{ $('download-attachment').item.json.textAsHtml }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "={{ $('has-attachements').item.binary.keys().join(\",\") }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        -100
      ],
      "id": "271a3fce-7cea-4ec4-80c0-1f6db3c51f66",
      "name": "forward-directly-with-attach1",
      "webhookId": "9728164b-1962-4e59-bd55-b431c7c30e27",
      "credentials": {
        "gmailOAuth2": {
          "id": "I6AxSf6kS8kxT2iw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.message.content.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        60
      ],
      "id": "951e081c-6e3d-4c72-954e-80d05a370185",
      "name": "download-through-url"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92515cbe-109c-4646-972a-007ad82ccd45",
              "leftValue": "={{ $('download-through-url').item.keys().includes('binary') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        60
      ],
      "id": "d4aa0e50-fb6b-4c32-bcdf-30a47c6b4a17",
      "name": "has-binary"
    },
    {
      "parameters": {
        "sendTo": "roomly.74b7@app.hubdoc.com",
        "subject": "={{ $('download-attachment').item.json.subject }}",
        "message": "={{ $('download-attachment').item.json.textAsHtml }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1560,
        -40
      ],
      "id": "3c8fe68d-0d54-43ad-aac3-04a912053a00",
      "name": "forward-directly-with-attach2",
      "webhookId": "9728164b-1962-4e59-bd55-b431c7c30e27",
      "credentials": {
        "gmailOAuth2": {
          "id": "I6AxSf6kS8kxT2iw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "roomly-n8n",
  "repo_owner": "roomly-ai",
  "repo_path": "https://github.com/roomly-ai/roomly-n8n",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1740221400,
        "possibleDuplicates": [
          "1952d4747533f5db",
          "1952d47472be19aa",
          "1952d41e8cd4de47"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-02-22T08:44:51.000Z",
  "versionId": "1faa9517-f447-40fc-b6f3-a783d17bb58b"
}